.geometry-area{
      height: 150px !important;
}
img{
      width: 100% !important;
      height: 100% !important;
}
input{
      background-color: rgba(188, 183, 183, 0.365);
      width: 100%;
      border-radius: 5px;
      padding: 3px 10px !important;
}
.btn-convert{
      background-color: #1090D8;
      border-radius: 5px;
      padding: 4px 8px;
      color:white;
}